<div class="display" (onOpenAnnotation)="logev($event)">
  <div>
    <textarea
      name="area"
      (keyup)="updatePlain($event.target.value)"
      class="area"
      [value]="plainValue"
    ></textarea>
    <div class="render-edit">
      <app-render-edit
        [blockList]="astPlainToEditor.content"
        [trackRendering]="false"
        (blEv)="updateFromTree($event)"
      ></app-render-edit>
    </div>
    <code>
      <pre class="json">{{ jsonAst | json }}</pre>
    </code>
  </div>
  <div>
    <div class="print">
      <app-render-inner-html
        *ngFor="let block of ttAstProcessed; trackBy: trackByBlockFn"
        [block]="block"
      ></app-render-inner-html>
      <!-- <div [innerHTML]="result | safe: 'html'"></div> -->
    </div>
  </div>
</div>

<div class="annotation-display" [class.closed]="!annotationContent">
  <div class="head">
    <h5 (click)="annotationContent = null">Annotation</h5>
    <button (click)="annotationContent = null">Masquer</button>
  </div>
  <div [innerHTML]="annotationContent | safe: 'html'"></div>
</div>
