<ng-container *ngIf="block && block.type === 'template'; else: plain">
  <ng-container [ngSwitch]="block.value.template">
    <app-image
      *ngSwitchCase="'image'"
      [src]="block.value.params?.src"
      [title]="block.value.params?.title"
      [description]="block.value.params?.description"
    ></app-image>

    <app-hide-show
      *ngSwitchCase="'hideShow'"
      [title]="block.value.params?.title"
      [showAtFirst]="block.value.params?.showAtFirst"
      [childNodes]="block.value?.content"
    ></app-hide-show>

    <app-annotation
      *ngSwitchCase="'annotation'"
      [annotated]="block.value.params?.annotated"
      [annotation]="block.value?.content"
    ></app-annotation>

    <youtube-video
      *ngSwitchCase="'youtube'"
      [id]="block.value.params.id"
    ></youtube-video>

    <content-box
      *ngSwitchCase="'box'"
      [classes]="block.value.params.class"
      [heading]="block.value.params.title"
    >
      <app-render
        *ngFor="let bloc of block.value.content"
        [block]="bloc"
      ></app-render>
    </content-box>

    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="block && block.value && block.value.content">
        <app-render
          *ngFor="let bloc of block.value.content"
          [block]="bloc"
        ></app-render>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #plain>
  <div #element [innerHTML]="htmlText | safe: 'html'"></div>
</ng-template>
